# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
Assets/AssetStoreTools*

# Avoid huge binary files
*.apk
*.aab
*.unitypackage

# PlasticSCM
.plastic/

# Rider / VSCode / VS
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.user
*.userprefs
*.booproj
.vscode/
*.DotSettings*

# Unity crash / dump reports
sysinfo.txt

# ======== #
# TextMesh #
# ======== #
*.tmpro.meta
*.tmpro

# ========== #
# Collaborate #
# ========== #
.collabignore

# ============= #
# OS Specific   #
# ============= #
# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini

# ============ #
# Git LFS      #
# ============ #
# If using LFS, ignore these to avoid accidental tracking
*.psd
*.tga
*.zip
*.fbx
*.blend
*.wav
*.mp4
